In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("data/Train_details_22122017.csv")

/var/folders/yj/1c02ht8j31z9y19y96vl9lh80000gn/T/ipykernel_24406/136804415.py:1: DtypeWarning: Columns (0,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data/Train_details_22122017.csv")

In [ ]:
data

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name
0,107,SWV-MAO-VLNK,1,SWV,SAWANTWADI R,00:00:00,10:25:00,0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
1,107,SWV-MAO-VLNK,2,THVM,THIVIM,11:06:00,11:08:00,32,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
2,107,SWV-MAO-VLNK,3,KRMI,KARMALI,11:28:00,11:30:00,49,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
3,107,SWV-MAO-VLNK,4,MAO,MADGOAN JN.,12:10:00,00:00:00,78,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
4,108,VLNK-MAO-SWV,1,MAO,MADGOAN JN.,00:00:00,20:30:00,0,MAO,MADGOAN JN.,SWV,SAWANTWADI ROAD
...,...,...,...,...,...,...,...,...,...,...,...,...
186119,99908,EMU,8,AKRD,AKURDI,23:30:00,23:31:00,19,PUNE,PUNE JN.,TGN,TALEGAON
186120,99908,EMU,9,DEHR,DEHU ROAD,23:35:00,23:36:00,24,PUNE,PUNE JN.,TGN,TALEGAON
186121,99908,EMU,10,BGWI,BEGDAEWAI,23:39:00,23:40:00,28,PUNE,PUNE JN.,TGN,TALEGAON
186122,99908,EMU,11,GRWD,GHORAWADI,23:41:00,23:42:00,31,PUNE,PUNE JN.,TGN,TALEGAON
186123,99908,EMU,12,TGN,TALEGAON,23:50:00,00:00:00,34,PUNE,PUNE JN.,TGN,TALEGAON

In [ ]:
# Melt the dataframe to have a single time column and an indicator column
columns = list(data.columns)
# columns = [x for x in columns if x not in ["Source Station",	"Source Station Name",	"Destination Station",	"Destination Station Name"]]
print(columns)
arrival_columns = columns.copy()
arrival_columns.remove("Departure Time")
departure_columns = columns.copy()
departure_columns.remove("Arrival time")
arrival_df = data[arrival_columns].copy()
arrival_df.rename(columns={'Arrival time': 'Time'}, inplace=True)
arrival_df['Type'] = 'Arrival'

departure_df = data[departure_columns].copy()
departure_df.rename(columns={'Departure Time': 'Time'}, inplace=True)
departure_df['Type'] = 'Departure'

['Train No', 'Train Name', 'SEQ', 'Station Code', 'Station Name', 'Arrival time', 'Departure Time', 'Distance', 'Source Station', 'Source Station Name', 'Destination Station', 'Destination Station Name']

In [ ]:
arrival_df

,Train No,Train Name,SEQ,Station Code,Station Name,Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name,Type
0,107,SWV-MAO-VLNK,1,SWV,SAWANTWADI R,00:00:00,0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,Arrival
1,107,SWV-MAO-VLNK,2,THVM,THIVIM,11:06:00,32,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,Arrival
2,107,SWV-MAO-VLNK,3,KRMI,KARMALI,11:28:00,49,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,Arrival
3,107,SWV-MAO-VLNK,4,MAO,MADGOAN JN.,12:10:00,78,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,Arrival
4,108,VLNK-MAO-SWV,1,MAO,MADGOAN JN.,00:00:00,0,MAO,MADGOAN JN.,SWV,SAWANTWADI ROAD,Arrival
...,...,...,...,...,...,...,...,...,...,...,...,...
186119,99908,EMU,8,AKRD,AKURDI,23:30:00,19,PUNE,PUNE JN.,TGN,TALEGAON,Arrival
186120,99908,EMU,9,DEHR,DEHU ROAD,23:35:00,24,PUNE,PUNE JN.,TGN,TALEGAON,Arrival
186121,99908,EMU,10,BGWI,BEGDAEWAI,23:39:00,28,PUNE,PUNE JN.,TGN,TALEGAON,Arrival
186122,99908,EMU,11,GRWD,GHORAWADI,23:41:00,31,PUNE,PUNE JN.,TGN,TALEGAON,Arrival
186123,99908,EMU,12,TGN,TALEGAON,23:50:00,34,PUNE,PUNE JN.,TGN,TALEGAON,Arrival

In [ ]:
combined_df = pd.concat([arrival_df, departure_df]).sort_values(by=['Train No', 'SEQ', 'Type']).reset_index(drop=True)

In [ ]:
combined_df

,Train No,Train Name,SEQ,Station Code,Station Name,Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name,Type
0,22989,BDTS MHV WEE,9,SRGT,SURENDRANAGA,22:03:00,611,BDTS,BANDRA TERMINUS,MHV,MAHUVA,Arrival
1,22989,BDTS MHV WEE,9,SRGT,SURENDRANAGA,22:04:00,611,BDTS,BANDRA TERMINUS,MHV,MAHUVA,Departure
2,22989,BDTS MHV WEE,10,BTD,BOTAD,23:14:00,686,BDTS,BANDRA TERMINUS,MHV,MAHUVA,Arrival
3,22989,BDTS MHV WEE,10,BTD,BOTAD,23:16:00,686,BDTS,BANDRA TERMINUS,MHV,MAHUVA,Departure
4,22989,BDTS MHV WEE,11,DLJ,DHOLA JN,23:58:00,729,BDTS,BANDRA TERMINUS,MHV,MAHUVA,Arrival
...,...,...,...,...,...,...,...,...,...,...,...,...
372243,K,14:15:00,14:16:00,33,BJP,UBL,HUBLI JN.,NaN,NaN,NaN,NaN,Departure
372244,K,14:54:00,14:55:00,142,SUR,SOLAPUR,GADAG JN.,NaN,NaN,NaN,NaN,Arrival
372245,K,14:54:00,14:55:00,142,SUR,GDG,GADAG JN.,NaN,NaN,NaN,NaN,Departure
372246,K,18:46:00,18:47:00,214,UBL,HUBLI JN.,SOLAPUR,NaN,NaN,NaN,NaN,Arrival
372247,K,18:46:00,18:47:00,214,UBL,SUR,SOLAPUR,NaN,NaN,NaN,NaN,Departure

In [ ]:
combined_df.to_csv("data/data_reorged.csv", index=False)

In [ ]:
train = combined_df[combined_df["Train No"] == 22989]
train = train.sort_values("SEQ")
train_nos = pd.unique(combined_df["Train No"])
train_nos

array([22989, 22990, 22991, ..., '99907', '99908', 'K'], dtype=object)

In [ ]:
data[data["Train No"] == 22989]

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name
65536,22989,BDTS MHV WEE,9,SRGT,SURENDRANAGA,22:03:00,22:04:00,611,BDTS,BANDRA TERMINUS,MHV,MAHUVA
65537,22989,BDTS MHV WEE,10,BTD,BOTAD,23:14:00,23:16:00,686,BDTS,BANDRA TERMINUS,MHV,MAHUVA
65538,22989,BDTS MHV WEE,11,DLJ,DHOLA JN,23:58:00,23:59:00,729,BDTS,BANDRA TERMINUS,MHV,MAHUVA
65539,22989,BDTS MHV WEE,12,DAS,DHASA,00:21:00,00:22:00,755,BDTS,BANDRA TERMINUS,MHV,MAHUVA
65540,22989,BDTS MHV WEE,13,LMO,LILIYA MOTA,00:54:00,00:55:00,788,BDTS,BANDRA TERMINUS,MHV,MAHUVA
65541,22989,BDTS MHV WEE,14,SVKD,SAVAR KUNDLA,01:15:00,01:16:00,812,BDTS,BANDRA TERMINUS,MHV,MAHUVA
65542,22989,BDTS MHV WEE,15,RLA,RAJULA ROAD,01:53:00,01:55:00,851,BDTS,BANDRA TERMINUS,MHV,MAHUVA
65543,22989,BDTS MHV WEE,16,MHV,MAHUVA,03:20:00,03:20:00,881,BDTS,BANDRA TERMINUS,MHV,MAHUVA

In [ ]:
data